@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@300;400;500;600;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Barlow", sans-serif;
}

.fraunces-font {
  font-family: "Fraunces", sans-serif;
}

.stand-out {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.stand-out:first-child {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.stand-out:first-child .left-wrapper {
  background-image: url("../images/desktop/image-transform.jpg");
}

.stand-out:first-child .right-wrapper .content h3 {
  max-width: 80%;
}

.stand-out:first-child .right-wrapper .content p {
  max-width: 86%;
}

.stand-out:first-child .right-wrapper .content a::after {
  background-color: rgba(250, 212, 0, 0.25);
}

.stand-out .left-wrapper,
.stand-out .right-wrapper {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

@media screen and (max-width: 375px) {
  .stand-out .left-wrapper,
  .stand-out .right-wrapper {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
  }
}

.stand-out .left-wrapper {
  background-image: url("../images/desktop/image-stand-out.jpg");
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
}

.stand-out .right-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fffbf8;
}

.stand-out .right-wrapper .content {
  padding: 20px;
  max-width: 540px;
}

.stand-out .right-wrapper .content h3 {
  font-size: 40px;
  margin-bottom: 30px;
  font-weight: 900;
}

.stand-out .right-wrapper .content p {
  line-height: 30px;
  margin-bottom: 30px;
  color: #818498;
  font-weight: 600;
  font-size: 17px;
  max-width: 80%;
}

.stand-out .right-wrapper .content a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 900;
  font-size: 18px;
  color: #222;
  position: relative;
  z-index: 1;
}

.stand-out .right-wrapper .content a::after {
  width: 150px;
  height: 12px;
  background-color: rgba(254, 120, 103, 0.25);
  position: absolute;
  content: "";
  bottom: -2px;
  left: -8px;
  border-radius: 30px;
  z-index: -1;
}

.graphic-photography {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.graphic-photography .graphic-design,
.graphic-photography .photography {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
}

.graphic-photography .graphic-design .text,
.graphic-photography .photography .text {
  max-width: 350px;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 60px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.graphic-photography .graphic-design .text h3,
.graphic-photography .photography .text h3 {
  font-size: 28px;
  margin-bottom: 30px;
  font-weight: 700;
}

.graphic-photography .graphic-design .text p,
.graphic-photography .photography .text p {
  line-height: 28px;
  font-weight: 600;
}

@media screen and (max-width: 700px) {
  .graphic-photography .graphic-design,
  .graphic-photography .photography {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
  }
}

.graphic-photography .graphic-design {
  background-image: url("../images/desktop/image-graphic-design.jpg");
}

@media screen and (max-width: 414px) {
  .graphic-photography .graphic-design {
    background-image: url("../images/mobile/image-graphic-design.jpg");
  }
}

.graphic-photography .graphic-design .text p,
.graphic-photography .graphic-design .text h3 {
  color: #25564b;
}

.graphic-photography .photography {
  background-image: url("../images/desktop/image-photography.jpg");
}

@media screen and (max-width: 414px) {
  .graphic-photography .photography {
    background-image: url("../images/desktop/image-photography.jpg");
  }
}

.graphic-photography .photography .text p,
.graphic-photography .photography .text h3 {
  color: #19536b;
}

.testimonial {
  text-align: center;
  padding: 10px;
  max-width: 330px;
  margin: 0 auto 50px;
}

.testimonial .testimonial-image {
  margin-bottom: 25px;
}

.testimonial .testimonial-image img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

.testimonial .testimonial-text {
  margin-bottom: 60px;
}

.testimonial .testimonial-text p {
  line-height: 25px;
  font-weight: 600;
  color: #818498;
}

.testimonial .testimonial-author h6 {
  font-size: 20px;
  margin-bottom: 10px;
}

.testimonial .testimonial-author span {
  color: #a7abae;
  font-weight: 600;
}

.testimonials {
  background: #fffcfa;
  padding: 120px 10px;
}

@media screen and (max-width: 576px) {
  .testimonials {
    padding: 40px 10px;
  }
}

.testimonials .container {
  max-width: 1100px;
  margin: 0 auto;
}

.testimonials .container .header {
  text-align: center;
  margin-bottom: 50px;
  text-transform: uppercase;
  color: #a7abae;
  font-size: 18px;
  font-weight: 600;
}

.testimonials .container .testimonials-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.testimonials .container .testimonials-wrapper .wrapper {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.3333333%;
          flex: 0 0 33.3333333%;
  max-width: 33.3333333%;
}

@media screen and (max-width: 992px) {
  .testimonials .container .testimonials-wrapper .wrapper {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 670px) {
  .testimonials .container .testimonials-wrapper .wrapper {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gallery div {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 992px) {
  .gallery div {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
    height: 300px;
  }
}

@media screen and (max-width: 414px) {
  .gallery div {
    height: 200px;
  }
}

.gallery .image-one {
  background-image: url("../images/desktop/image-gallery-milkbottles.jpg");
}

@media screen and (max-width: 414px) {
  .gallery .image-one {
    background-image: url("../images/mobile/image-gallery-milkbottles.jpg");
  }
}

.gallery .image-two {
  background-image: url("../images/desktop/image-gallery-orange.jpg");
}

@media screen and (max-width: 414px) {
  .gallery .image-two {
    background-image: url("../images/mobile/image-gallery-orange.jpg");
  }
}

.gallery .image-three {
  background-image: url("../images/desktop/image-gallery-cone.jpg");
}

@media screen and (max-width: 414px) {
  .gallery .image-three {
    background-image: url("../images/mobile/image-gallery-cone.jpg");
  }
}

.gallery .image-four {
  background-image: url("../images/desktop/image-gallery-sugarcubes.jpg");
}

@media screen and (max-width: 414px) {
  .gallery .image-four {
    background-image: url("../images/mobile/image-gallery-sugar-cubes.jpg");
  }
}

footer {
  background-color: #91d4c6;
  color: #458c7e;
  padding: 50px 20px;
}

footer .content {
  text-align: center;
}

footer .content .logo img {
  -webkit-filter: invert(1);
          filter: invert(1);
  opacity: 0.5;
  height: 35px;
}

footer .content ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .content ul li a {
  text-decoration: none;
  font: inherit;
  font-weight: 600;
  color: inherit;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

footer .content ul li a:hover {
  color: white;
}

footer .content .logo {
  margin-bottom: 30px;
}

footer .content .navigation-links {
  margin-bottom: 70px;
}

footer .content .navigation-links li {
  margin-right: 50px;
}

footer .content .navigation-links li:last-child {
  margin-right: 0;
}

footer .content .navigation-links li a {
  font-size: 17px;
}

footer .content .social-media {
  margin-bottom: 10px;
}

footer .content .social-media li {
  margin-right: 30px;
}

footer .content .social-media li:last-child {
  margin-right: 0;
}

footer .content .social-media li a {
  font-size: 24px;
}
/*# sourceMappingURL=style.css.map */